<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${subject}"></title>
</head>
<body>
<p>Bonjour <strong th:text="${lastname}"></strong>,</p>
<p>Nous vous rappelons que livre <strong th:text="${bookName}"></strong> a dépassé sa data d'échéance.</p>
<p>Ci dessous les informations détaillées:</p>
<p>Nom: <strong th:text="${bookName}"></strong></p>
<p>Auteur: <strong th:text="${author}"></strong></p>
<p>Catégorie: <strong th:text="${category}"></strong></p>
<p><strong>Nous vous prions de bien vouloir vous présenter au bibliothèque pour rendre le livre.</strong></p>
<p>Cordialement,</p>
<p><strong>L'&eacute;quipe UNCHK BIBLI.</strong></p>
</body>
</html>