<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${subject}"></title>
</head>
<body>
<p>Bonjour <strong th:text="${lastname}"></strong>,</p>
<p>Nous vous rappelons qu'il vous reste 3 jours pour rendre le livre <strong th:text="${bookName}"></strong>.</p>
<p>Ci dessous les informations du livre emprunté:</p>
<p>Nom: <strong th:text="${bookName}"></strong></p>
<p>Auteur: <strong th:text="${author}"></strong></p>
<p>Catégorie: <strong th:text="${category}"></strong></p>
<p><strong>NB: Une fois ce délai dépassé des pénalités peuvent s'ajouter.</strong></p>
<p>Bonne lecture,</p>
<p>Cordialement,</p>
<p><strong>L'&eacute;quipe UNCHK BIBLI.</strong></p>
</body>
</html>